{% extends "base.html" %}

{% block head %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
  <div class = "jumbotron">
    <center>
      <h1>
        {{name}}
      </h1>
    </center>
    <h2>
      Price : {{shares[name]["price"]|round(2)}}
    </h2>
    <h2>
      Quantity Left : {{shares[name]["quantity"]|int}}
    </h2>
    <h2>
      Money Left : {{current_user.money|round(2)}}
    </h2>
    <form method = "POST">
      {{form.hidden_tag()}}
      <div class = "container">
        <div class = "form-group grid">
          {{form.quantity.label(class = "label")}} {{form.quantity(class = "input")}}
        </div>
        <br>
        <div class = "form-group grid">
          {{form.submit(class = "btn1")}}
        </div>
      </div>
    </form>
  </div>
{% endblock %}