{% extends "base.html" %}

{% block head %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
  <div class = "jumbotron">
    <div class = "container overflow-hidden">
      {% if current_user.shares == [] %}
        <h2>
          You currently own no shares. Please go to the shares section to buy some.
        </h2>
      {% endif %}
      {% for share in current_user.shares %}
        <div class = "row-gy-5">
          <div class="p-3 border bg-light" align = "center">
            <a href = {{url_for("sell", name = share.name)}} type="button" class="btn1" style = "width : 100%; margin-left : 0;">
              <span style = "margin : 10%">
                Name : {{share.name}}
              </span>
              <span style = "margin : 10%">
                Average : {{(share.total / share.quantity)|round(2)}}
              </span>
              <span style = "margin : 10%">
                Bought : {{share.quantity|int}}
              </span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}